a {
    display: block;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: var(--logo-bg);
    z-index: 9;
    -webkit-box-shadow: 0 3px 0px var(--main);
    box-shadow: 0 3px 0px var(--main);
}

header .logo,
header .logo img {
    width: 86px;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

nav>ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0;
    font-weight: bold;
}

nav ul li {
    width: 100px;
    height: 100%;
    text-align: center;
    position: relative;
    line-height: 80px;
    color: var(--text-light);
    opacity: .8;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

nav ul li a {
    color: var(--text-light);
}

.dropdown{
    scale: 0;
}

#home {
    height: 100svh;
    position: relative;
    padding-top: 120px;
    background: var(--logo-bg);
}

.first-headers-h1 {
    font-size: 2rem;
    /* text-shadow: 0px 0px 21px var(--main); */
}

.logo-text-wrapper {
    width: 900px;
    position: absolute;
    top: 10%;
    right: 10px;
    outline: 20px solid var(--logo-bg);
    outline-offset: -10px;
}


#home .first-headers {
    max-width: 600px;
    position: absolute;
    top: 30%;
    left: 100px;
}


.first-headers * {
    color: var(--text-light);

}

.first-headers-h3 {
    margin-top: 10px;
    color: var(--main-dark);
}

#projects .fr-c div {
    width: 150px;
    height: 100px;
    /* border: 3px solid black; */
}

#projects .fr-c div img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.hover-madness,
.hover-madness div {
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    cursor: default;
}

.hover-madness:hover div {
    opacity: .6;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

.hover-madness div:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cards-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
}

.card {
    width: 300px;
    min-height: 250px;
    padding: 10px 20px;
    border: 3px solid;
    -o-border-image: -o-linear-gradient(40deg, var(--main) 10%, black, var(--main) 90%) 1 round;
    border-image: linear-gradient(40deg, var(--main) 10%, black, var(--main) 90%) 1 round;
    border-radius: 8px;
    /* background: var(--secondary); */
    -webkit-box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}

.card h4 {
    font-size: 1.3rem;
    text-align: center;
}

.card p {
    line-height: 130%;
}

.about-us-text {
    line-height: 140%;
    font-size: 1.5rem;
    width: 600px;
}

.about-us-img {
    width: 600px;
}

footer {
    background-color: var(--logo-bg);
    padding: 20px 100px;
}

footer * {
    color: var(--text-light);
}

.footer-about-us {
    width: 400px;
    font-size: 1.1rem;
    line-height: 125%;
    /* margin-right: 150px; */
    /* background: lime; */
}

.footer-about-us-h4 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}

.footer-about-us-h4::after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0px;
    width: 180%;
    height: 2px;
    background: -o-linear-gradient(left,
            var(--main) 60%,
            transparent);
    background: -webkit-gradient(linear,
            left top, right top,
            color-stop(60%, var(--main)),
            to(transparent));
    background: linear-gradient(90deg,
            var(--main) 60%,
            transparent);
}

.footer-address-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    gap: 15px;
}

.footer-address-ul li {
    font-size: 1.3rem;
    padding: 5px 10px 5px 55px;
    position: relative;
}

.footer-address-ul li svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (min-width: 560px){
    header{
        padding: 0 50px;
    }
    
    nav ul li:hover {
        opacity: 1;
    }
    
    nav ul li:hover .dropdown {
        scale: 1;
        /* display: flex; */
    }
    
    nav ul li .dropdown {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        /* display: none; */
        width: 200px;
        /* height: fit-content; */
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        top: 100%;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        border: 3px solid var(--main);
        border-top: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #000;
        scale: 0;
        overflow: hidden;
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }
    
    nav ul li .dropdown.left {
        right: 0;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    
    nav ul li .dropdown li {
        width: 100%;
        gap: 0;
        height: 50px;
        color: var(--text-light);
        /* border: 2px dashed lime; */
        line-height: 50px;
        position: relative;
        cursor: default;
    }
    
    nav ul li .dropdown li:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        width: 90%;
        height: 2px;
        background: -o-linear-gradient(left, transparent, var(--main), transparent);
        background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--main)), to(transparent));
        background: linear-gradient(90deg, transparent, var(--main), transparent);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1400px){
    .first-headers{
        max-width: 300px !important;
    }
    .first-headers *{
        font-size: 1.5rem;
    }

    #home .logo-text-wrapper{
        width: 600px;
        top: 20%;

    }
}

@media screen and (max-width: 900px) {
    .first-headers{
        top: 10% !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        max-width: 90vw !important;
    }
    #home .logo-text-wrapper{
        top: 40% !important;
        width: 100vw;
    }
    footer{
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-flow: column nowrap !important;
                flex-flow: column nowrap !important;
    }
}

@media screen and (max-width: 600px){
    #home .first-headers * {
        text-align: center;
    }
    
    #home .logo-text-wrapper{
        top: 55% !important;
    }
}

@media screen and (max-width: 500px) {
    #home .first-headers * {
        font-size: 1rem !important;
    }
    nav ul li{
        width: 70px !important;
    }
    
    section, footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .fr-b{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    .fr-b *{
        max-width: 100%;
    }
    .about-us-text{
        font-size: 1rem;
    }
}