/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    list-style-type: none;

}

a {
    display: block;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: var(--logo-bg);
    z-index: 9;
    -webkit-box-shadow: 0 3px 0px var(--main);
            box-shadow: 0 3px 0px var(--main);
}

header .logo,
header .logo img {
    width: 200px;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

nav>ul {
    /* width: 60%; */
    height: 100%;
    min-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    font-weight: bold;
}

nav ul li {
    width: 100px;
    height: 100%;
    text-align: center;
    position: relative;
    line-height: 80px;
    color: var(--text-light);
    opacity: .8;
    -webkit-transition: all 300ms ;
    -o-transition: all 300ms ;
    transition: all 300ms ;
}

nav ul li a {
    color: var(--text-light);
}

nav ul li:hover {
    opacity: 1;
}
nav ul li:hover .dropdown {
    scale: 1;
    /* display: flex; */
}

nav ul li .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    /* display: none; */
    width: 200px;
    /* height: fit-content; */
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    top: 100%;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    border: 3px solid var(--main);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #000;
    scale: 0;
    overflow: hidden;
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
}

nav ul li .dropdown.left {
    right: 0;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}

nav ul li .dropdown li {
    width: 100%;
    gap: 0;
    height: 50px;
    color: var(--text-light);
    /* border: 2px dashed lime; */
    line-height: 50px;
    position: relative;
    cursor: default;
}

nav ul li .dropdown li:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 90%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--main)), to(transparent));
    background: -o-linear-gradient(left, transparent, var(--main), transparent);
    background: linear-gradient(90deg, transparent, var(--main), transparent);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#home {
    height: 100svh;
    position: relative;
    margin-top: 80px;
    background: var(--logo-bg);
}

.first-headers-h1 {
    font-size: 2rem;
    /* text-shadow: 0px 0px 21px var(--main); */
}

.logo-text-wrapper {
    width: 900px;
    position: absolute;
    top: 10%;
    right: 10px;
    outline: 20px solid var(--logo-bg);
    outline-offset: -10px;
}


#home .first-headers {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 600px;
}


.first-headers * {
    color: var(--text-light);

}

.first-headers-h3 {
    margin-top: 10px;
    color: var(--main-dark);
}

#projects .fr-c div {
    width: 150px;
    height: 100px;
    /* border: 3px solid black; */
}

#projects .fr-c div img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
}

.card {
    width: 300px;
    min-height: 250px;
    padding: 10px 20px;
    /* border: 2px solid black; */
    border-radius: 8px;
    /* background: var(--secondary); */
    -webkit-box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
            box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}

.card h4 {
    text-align: center;
}

.card p {
    line-height: 130%;
}

.about-us-text {
    line-height: 140%;
    font-size: 1.5rem;
    width: 600px;
}

.about-us-img {
    width: 600px;
}

footer{
    background-color: var(--logo-bg);
    padding: 20px 100px;
}
footer *{
    color: var(--text-light);
}
.footer-about-us{
    width: 400px;
    font-size: 1.1rem;
    line-height: 125%;
    /* margin-right: 150px; */
    /* background: lime; */
}
.footer-about-us-h4{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.footer-about-us-h4::after{
    content: '';
    position: absolute;
    top: 120%;
    left: 0px;
    width: 180%;
    height: 2px;
    background: -webkit-gradient(linear,
                left top, right top,
                color-stop(60%, var(--main)),
                to(transparent));
    background: -o-linear-gradient(left,
                var(--main) 60%,
                transparent);
    background: linear-gradient(90deg,
                var(--main) 60%,
                transparent);
}
.footer-address-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 15px;
}
.footer-address-ul li{
    font-size: 1.3rem;
    padding: 5px 10px 5px 55px;
    position: relative;
}
.footer-address-ul li svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}